/*addresses default css behaviour within all browsers*/
html,
body,
h1,
h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}

.logo img {
  position: relative;
  top: 10%;
}

.credits {
  position: absolute;
  top: 3%;
}

.fullName {
  position: absolute;
  right: 20%;
  top: 16%;

}

hr {
  width: 100%;
}

.travel-photos {
  display: inline-flex;
}

.agrigento,
.bucharest,
.sanFrancisco {
  flex-basis: 30%;
  opacity: 0.8;

}

.agrigento:hover,
.bucharest:hover,
.sanFrancisco:hover {
  opacity: 1.0;

}

.agrigento img,
.bucharest img,
.sanFrancisco img {
  margin-top: 10%;
/*  margin-right: 12%;*/

}

h2 {
  order: 1;
  position: absolute;
  left: 40%;
}

.agrigento img {
  order: 2;
}

.bucharest img {
  order: 3;
}

.sanFrancisco img {
  order: 4;
}

figcaption {
  text-align: center;
}

/*RESPONSIVE LAYOUT */

@media screen and (min-width: 400px) {
  .featured-image img {
    width: 100%;
  }
}
