html,
body,
h1,
h2 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

}

.credits {
  position: absolute;
  top: 3%;
}

.fullName {
  position: absolute;
  right: 20%;
  top: 20%;

}

hr {
  width: 100%;
}

.travel-photos {
  display: inline-flex;
}

.agrigento,
.bucharest,
.sanFrancisco {
  flex-basis: 30%;
  opacity: 0.8;

}

.agrigento:hover,
.bucharest:hover,
.sanFrancisco:hover {
  opacity: 1.0;

}

figcaption {
  text-align: center;
}
